.gradient-box {
    width: 80px;
    height: 60px;
    border-radius: 5px;
}

.rg5-red-orange {
    background-size: 100% 100%;
    background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
    background-image: radial-gradient(49% 81% at 45% 47%, rgba(255, 226, 3, 0.27) 0%, rgba(7, 58, 255, 0) 100%), radial-gradient(113% 91% at 17% -2%, rgb(255, 90, 0) 1%, rgba(255, 0, 0, 0) 99%), radial-gradient(142% 91% at 83% 7%, rgb(255, 219, 0) 1%, rgba(255, 0, 0, 0) 99%), radial-gradient(142% 91% at -6% 74%, rgb(255, 0, 73) 1%, rgba(255, 0, 0, 0) 99%), radial-gradient(142% 91% at 111% 84%, rgb(255, 112, 0) 0%, rgb(255, 0, 0) 100%)
}

.gm-white-4-25 {
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: blur(4px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.25);
}

.gm-white-4-50 {
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: blur(4px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.5);
}

.gm-white-4-75 {
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: blur(4px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
}

.gm-white-8-25 {
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: blur(4px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.25);
}

.gm-white-8-50 {
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: blur(4px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.5);
}

.gm-white-8-75 {
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: blur(4px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
}


.gm-white-16-25 {
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: (4px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.25);
}

.gm-white-16-50 {
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: (4px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.5);
}

.gm-white-16-75 {
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: (4px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
}
