/**sketch拾取*/
.sketch-picker {
  border-radius: 5px;
  box-shadow: none!important;
  padding: 0!important;
}

/*输入边距Pop*/
.input-padding-pop { 
  background-color: var(--semi-color-bg-0);
  height: 100px;
  width: 280px;
}
/*输入边距*/
.input-padding {
  position: relative;
  top: 30px;
  left: 10px;
  margin: 0 40px 15px 25px;
  border: 1px solid #ece;
  height: 40px;
  width: 200px;

  &.position-border {
    .order-0 {
      left: 50%;
      margin-left: -35px;
      top: -12px;
    }
    .order-1 {
      left: 100%;
      margin-left: -25px;
      top: 5px;
    }
    .order-2 {
      left: 50%;
      margin-left: -35px;
      top: 28px;
    }
    .order-3 {
      left: 0;
      margin-left: -25px;
      top: 5px;
    }
  }
  &.position-corner {
    .order-0 {
      left: 0;
      margin-left: -25px;
      top: -15px;
    }
    .order-1 {
      left: 100%;
      margin-left: -25px;
      top: -15px;
    }
    .order-2 {
      left: 100%;
      margin-left: -25px;
      top: 28px;
    }
    .order-3 {
      left: 0;
      margin-left: -25px;
      top: 28px;
    }
  }
  .input-padding-number {
    position: absolute;
    background-color: var(--semi-color-bg-0);
    width: 60px;
  }
}

.semi-form-field {
  // width: 100%;
}
.with-code-expr {

}
.event-edit {
  width: 100%;
  .tree-label {
    i.bi {
      font-size: 18px;
    }
  }
}


.effect-pop-content {
  width: 720px;
  height: 480px;
  padding: 10px;

  .semi-tabs-content {
    height: 430px;
    .semi-tabs-pane-motion-overlay {
      height: 100%;
    }
  }
}

.pop-select-file-content {
  padding: 0 12px;
  width: 340px;
  height: 420px;

  .semi-tree-option-disabled {
     .semi-tree-option-label {
        color: var(--semi-color-text-0);
     }
    .semi-checkbox-disabled {
      display: none;
      .semi-tree-option-label-text {

      }
    }
  }
  .semi-tree-option-label {
    svg {
      width: 16px;
      height: 16px;
      margin-bottom: 4px;
    }
  }
}